html {
  background-color: #333333;
  color: white;
}
a {
  color: white;
}
body {
  font-family: "Courier New", Courier, Monaco;
}

/* .content {
  text-transform: center;
  width: 25%;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */


.typingContent {
  text-transform: center;
  /* width: 25%; */
  width: 40%;
  position: absolute;
  left: 30%;
  top: 30%;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

.bottombar-container {
  width: 100%;
  display: block;
  text-align: right;
  padding: 10px;
  font-size: 46px;
  position: fixed;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
